@using BookStore.web.ViewModels
@model IEnumerable<BookviewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="~/Images/@item.PictureUri" alt="card image cap" />
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-title"><i class="fas fa-euro-sign">@item.Price</i></h6>

                    <a asp-action="Details" asp-controller="Home" asp-route-id="@item.BookId" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>